/* example root variables */
:root {
	--color: red;
	--space: 2px;
	--space-small: calc(var(--space) * 2);
	--space-medium: calc(var(--space) * 3);
	--space-large: calc(var(--space) * 4);
}

.button {
	--color: lightblue;

	border: 2px solid black;
	padding: var(--spacing) calc(var(--spacing) * 2);
}

.button:hover {
	cursor: pointer;
}

/* Look */

.filled {
	background: var(--color);
}

.outline {
	background: transparent;
	border: 2px solid var(--color);
}

.ghost {
	background: transparent;
	border: none;
}

.ghost:hover {
	background: var(--color);
}


/* Content */

.mixed {
	display: flex;
	gap: var(--spacing);
}

.icon {
	padding: var(--spacing);
}