:root {
	--black: #000000;
	--white: #ffffff;

	--c-1: #F5F5F5;
	--c-2: #EAEAEB;
	--c-3: #E0E0E1;
	--c-4: #D5D5D7;
	--c-5: #CBCBCD;
	--c-6: #C1C1C3;
	--c-7: #B6B6B9;
	--c-8: #ACACAF;
	--c-9: #A1A1A5;
	--c-10: #97979B;
	--c-11: #8D8D91;
	--c-12: #828287;
	--c-13: #78787D;
	--c-14: #6E6E72;
	--c-15: #646468;
	--c-16: #5A5A5E;
	--c-17: #505053;
	--c-18: #464649;
	--c-19: #3C3C3E;
	--c-20: #323234;
	--c-21: #28282A;
	--c-22: #1E1E1F;
	--c-23: #141415;
	--c-24: #0A0A0A;
}